body{
    margin: 0;
    background-color: black;
    font-family: 'Inter', sans-serif;
   
}

.container{
    width: 550px;
    height: 729px;
    margin: 126px auto;
    color: #ffffff;
    border: 2px solid plum;
    display: flex;
    flex-direction: column;
    
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #6943FF;
    height: 285px;
      
}

#unit-input{
width: 117px;
height: 83px;
border-radius: 5px;
border: 2px solid #B295FF;
background: #6943FF;
color: #ffffff;
text-align: center;
font-weight: 800;
font-size: 58px;
margin-bottom: 25px;

}

.btn{
    
    height: 42px;
    padding: 9px 27.5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #3D3D3D;
    margin-bottom: 33px;
    box-shadow: 0px 1px 2px 0px #0000000D;

}

h1{
    margin-top:33px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.03em;
    text-align: center;
    
}


.conversion-group{
    flex-grow: 1;
    background: #1F2937;
    padding-top: 35px;
    padding-bottom: 35px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.grid-card{
    width: 500px;
    height: 109px;
    background: #273549;
    border-radius: 5px;


}

.conversion-result{
    margin: 0 auto;
    width: 346px;
    height: 59px;
    text-align:center
}

h4{
    color: #CCC1FF;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;

}

p{

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #ffffff;

}